/*Pagina default*/
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(240, 240, 240);
}

.hideElement {
    display: none;
}

/*Margin personal*/
.marginPersonal {
    padding: 40px 100px !important;
    box-sizing: border-box !important;
}

@media (max-width: 1000px) {
    .marginPersonal {
        padding: 20px 20px !important;
        box-sizing: border-box !important;
    }
}

/*Justificar textos*/
.sideButtonPersonal {
    padding: 10px;
    height: calc(100vh - 147.16px) !important;
    background-color: #fcfcfc;
}

.justifyPersonal {
    text-align: justify !important;
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
    font-weight: 700;
    font-size: 23px;
}

.justifyPersonalSecondary {
    text-align: justify !important;
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
}

@media (max-width: 800px) {
    .justifyPersonal {
        font-weight: 700;
        font-size: 19px;
    }

    .justifyPersonalSecondary {
        margin-left: 10px;
        font-weight: 600;
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .justifyPersonal {
        font-weight: 700;
        font-size: 18px;
    }

    .justifyPersonalSecondary {
        margin-left: 0px;
        font-weight: 500;
        font-size: 15.5px;
    }
}

/*Nav con los logos del POLI*/
.navSuperior {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    background-color: #375c83;
}

.navSuperior-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navSuperior-icons>#iconEscom {
    width: 80px;
    margin: 15px 10px;
}

.navSuperior-icons>#iconIpn {
    width: 50px;
    margin: 15px 10px;
}

.navSuperior-texts {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#navbarIconPersonal {
    margin-bottom: 10px !important;
}

@media (max-width: 800px) {
    .navSuperior {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: #375c83;
    }

    .navSuperior-icons>#iconEscom {
        width: 60px;
        margin: 15px 10px;
    }

    .navSuperior-icons>#iconIpn {
        width: 30px;
        margin: 15px 10px;
    }

    .navSuperior-title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }

    .navSuperior-desc {
        font-size: 14px;
        text-align: center;
        margin: 0 5px 10px 5px;
    }
}

/*Diseño de las tabs pensado para los dispositivos moviles*/

.nav-linkTextos {
    font-size: 20px;
    font-weight: 700;
    width: auto;
}

@media (max-width: 1400px) {
    .nav-linkTextos {
        font-size: 18px;
        font-weight: 600;
    }
}

@media (max-width: 1400px) {
    .overflowResponsiveTabs {
        overflow-x: scroll;
        overflow-y: hidden;
        width: auto;
        display: grid;
        grid-template-columns: 117.06px 233.817px 141px 289.783px 108.95px 152.42px 193.59px;
    }
}

/*Imagen de las cards*/
.imagenDefaultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.titleImageMine {
    margin: 0px;
    padding: 20px;
    text-align: left;
    height: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.noteImageMine {
    margin: 0px;
    padding: 20px;
    text-align: left;
    height: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.imagenDefault {
    width: 300px;
    margin: 10px;
}

@media (max-width: 500px) {
    .imagenDefault {
        width: 200px;
        margin: 5px;
    }
}

.imagenDefaultBig {
    width: 65%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.imagenDefaultBig:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (max-width: 1200px) {
    .imagenDefaultBig {
        width: 80%;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .imagenDefaultBig {
        width: 100%;
        margin: 0;
    }
}

/*Diseño de las notas*/
.notaStyle {
    width: 100%;
    height: auto;
    background-color: #a9d2ff;
    color: #245174;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px 20px;
}

/*Personalizacion del nav*/
#navPersonal {
    background-color: #5086c1 !important;
}

/*Seccion de contenido*/
.containerMenuAndContent {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: auto;
    width: 100%;
    background-color: transparent;
}

.containerMenuAndContentClose {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

.containerMenuAndContent-primeraSeccion {
    border-left: #2f4e70 20px solid;
    height: 100vh !important;
    width: 80%;
    transition: all .4s ease-in;

    padding: 20px 10px;

    position: fixed;
    top: 0;

    z-index: 10000;

    box-shadow: 20px -1px 66px -9px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 20px -1px 66px -9px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 20px -1px 66px -9px rgba(0, 0, 0, 0.64);
}

@media (max-width: 800px) {
    .containerMenuAndContent-primeraSeccion {
        border-left: #2f4e70 10px solid;
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .containerMenuAndContent-primeraSeccion {
        border-left: #2f4e70 0px solid;
        padding: 5px;
    }
}

.containerMenuAndContent-segundaSeccion {
    height: calc(100vh - 147.16px) !important;
    width: 100%;
    overflow-y: scroll;
    padding: 30px 60px;
}

@media (max-width: 800px) {
    .containerMenuAndContent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
    }

    .containerMenuAndContent-primeraSeccion {
        z-index: 10000;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh !important;
    }

    .containerMenuAndContent-segundaSeccion {
        height: calc(100vh - 147.16px) !important;
        width: 100%;
        overflow-y: scroll;
        padding: 10px 15px;
    }
}

.cardsPaginaContenidoList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.cardsPaginaContenidoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

@media (max-width: 800px) {
    .cardsPaginaContenidoGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }
}

/*Cards de descarga*/
.downloadActivitiesCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}


/*Footer*/
.footerDesign {
    display: grid;
    grid-template-columns: 2fr .5fr;
    grid-template-rows: auto;
    background-color: #d8d8d8;
    border-bottom: #245174 30px solid;
    gap: 40px;
}

.footerContainerOne {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 40px 0 40px 40px;
}

.footerLink {
    padding: 10px 20px;
    width: auto;
}

.iconCreativeContainer {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.iconCreative {
    width: 100%;
    height: 60px;
    background-image: url('../img/cc.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-attachment: initial;
}

.footerContainerTwo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.footerContainerTwo a {
    margin-bottom: 15px;
    margin-left: 15px;
}

.textoFooter {
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
}

@media (max-width: 1000px) {
    .footerContainerOne {
        padding: 40px;
    }

    .footerDesign {
        grid-template-columns: 1fr;
    }

    .footerContainerTwo {
        display: none;
    }

    .iconCreative {
        background-position: center;
    }

    .textoFooter {
        font-size: 16px;
        font-weight: 600;
        text-align: justify;
    }
}

@media (max-width: 600px) {
    .textoFooter {
        font-size: 15px;
        font-weight: 600;
        text-align: justify;
    }
}


/*Diseño del boton flotante*/
.botonFlotante1 {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-bottom: 10px;
    border-radius: 100%;
    border: none;
    background-color: #122a3b;
    color: #fcfcfc;

    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 100000000;
}

.botonFlotante2 {
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-bottom: 10px;
    border-radius: 100%;
    border: none;
    background-color: #224f6e;
    color: #fcfcfc;

    position: fixed;
    bottom: 0;
    right: 74px;
    margin: 20px 10px 20px 20px;
}

@media (max-width: 800px) {
    .botonFlotante2 {
        display: none;
    }
}

/*Buscador contenedor*/
.browserContainerPersonal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 40px 100px;
    gap: 20px;
}

.browserContainerPersonal-browserContainerPalabras {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

@media (max-width: 800px) {
    .browserContainerPersonal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 20px 20px;
        gap: 10px;
    }
}

/*Diseño de las referencias*/
.contenedorReferencias {
    height: 55vh;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

@media (max-width: 800px) {
    .contenedorReferencias {
        height: 70vh;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

/*Diseño del material de apoyo*/
.contenedormaterialDeApoyo {
    height: 55vh;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

@media (max-width: 800px) {
    .contenedormaterialDeApoyo {
        height: 70vh;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
}

/*Ajuste de los textos*/
.textoReadingTitle {
    font-size: 26px;
    font-weight: 700;
}

.textoReadingLink {
    font-size: 22px;
    font-weight: 600;
}

.textoReading {
    font-size: 22px;
    text-align: justify;
}

.titleSuperior {
    margin: 0 0 10px 0;
    padding: 15px 20px;
    font-size: 28px;
    font-weight: 700;
    background-color: #4b79aa;
    border: #2e4d6e solid 1px;
    color: #fcfcfc;
    border-radius: 6px;
}


@media (max-width: 1000px) {
    .textoReadingTitle {
        font-size: 23px;
        font-weight: 700;
    }

    .textoReadingLink {
        font-size: 18px;
        font-weight: 700;
    }

    .textoReading {
        font-size: 18px;
        text-align: justify;
    }

    .titleSuperior {
        margin: 0 0 10px 0;
        padding: 10px 20px;
        font-size: 25px;
        font-weight: 700;
        background-color: #4b79aa;
        border: #2e4d6e solid 1px;
        color: #fcfcfc;
        border-radius: 6px;
    }
}

@media (max-width: 500px) {
    .textoReadingTitle {
        font-size: 21px;
        font-weight: 700;
    }

    .textoReadingLink {
        font-size: 16px;
        font-weight: 700;
    }

    .textoReading {
        font-size: 16px;
        text-align: justify;
    }

    .titleSuperior {
        margin: 0 0 10px 0;
        padding: 8px 20px;
        font-size: 23px;
        font-weight: 700;
        background-color: #4b79aa;
        border: #2e4d6e solid 1px;
        color: #fcfcfc;
        border-radius: 6px;
    }
}

/*Diseño de cards personalizadas*/
.cardMarginExtra {
    margin-bottom: 10px;
}

.cardLevelOne {
    background-color: #ececec;
}

.cardLevelTwo {
    background-color: #dadada;
}

/*Cargador*/
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/load.gif') 50% 50% no-repeat rgb(249, 249, 249);
}

/*Seleccionar textos*/
::selection {
    background: #4b79aa;
    color: #ffffff;
}

/*Contenedor de notificaciones*/
#contenedorNotificaciones{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1000000000;
    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#notificacionMine{
    background-color: #272727;
    color: #dadada;
    padding: 10px 20px 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

@media (max-width: 700px) {
    #contenedorNotificaciones{
        padding: 0;
    }
    
    #notificacionMine{
        border-radius: 0;
        font-weight: 700;
        width: 100%;
    }
}