<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Glosario</title>
    <link rel="shortcut icon" href="../static/img/ipn.ico" type="image/x-icon">

    <!--Fonts-->
    <link rel="stylesheet" href="../static/fonts/roboto.css">

    <!-- Compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/ownStyles.css">

    <!-- Compiled and minified JavaScript -->
    <script defer src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!--JS-->
    <!-- <script defer src="../static/js/menuLateral.js"></script>
    <script defer src="../static/js/modoListaGrid.js"></script> -->
    <script defer src="../static/js/buscador.js"></script>
</head>

<body>

    <section class="navSuperior">
        <div class="navSuperior-icons">
            <img id="iconIpn" src="../static/img/ipn_blanco.png">
            <img id="iconEscom" src="../static/img/escom_blanco.png">
        </div>
        <div class="navSuperior-texts">
            <h4 class="navSuperior-title text-light">Recurso Didáctico Digital</h4>
            <h5 class="navSuperior-desc text-light">Unidad 5: Métodos de evaluación de proyectos de inversión de la UA
                Finanzas
                Empresariales</h5>
        </div>
    </section>

    <nav id="navPersonal" class="navbar nav-fill navbar-expand-lg bg-body-tertiary" style="background: #5086c1;">
        <div class="container-fluid">
            <button id="navbarIconPersonal" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/contenidos">Contenidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/materialDeApoyo">Material de apoyo</a>
                    </li>
                    <button type="button" class="btn btn-light" href="/glosario">Glosario</button>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/referencias">Referencias</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="browserContainerPersonal">
        <div class="input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Buscar</span>
            <input type="text" class="form-control" onkeyup="buscar_concepto()" id="inputBrowser"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <section class="browserContainerPersonal-browserContainerPalabras" id="fullContainer">
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Anualidad</h5>
                    <p class="card-text">
                        Conjunto de flujos de efectivo periódicos e iguales durante un periodo determinado. Estos flujos
                        de efectivo pueden ser entradas de rendimientos obtenidos por inversiones o salidas de fondos
                        invertidos para obtener rendimientos futuros (Gitman, 2012).
                        <br><br>
                        Existen dos tipos de anualidades:
                        <br>
                        <b>a. anualidad ordinaria</b>
                        <br>
                        Anualidad en la que el flujo de efectivo ocurre al final de cada periodo.
                        <br>
                        <b>b. anualidad anticipada</b>
                        Anualidad en la que el flujo de efectivo ocurre al inicio de cada periodo.
                    </p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Cantidad única o monto único </h5>
                    <p class="card-text">Un monto global que se posee hoy o se espera tener en alguna fecha futura. Como
                        ejemplo tenemos $1,000 actuales y $650 que se recibirán al cabo de10 años (Gitman, 2012).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Capitalización</h5>
                    <p class="card-text">Proceso que se sigue para determinar el valor de un flujo de efectivo o de una
                        serie de flujos de efectivo en algún momento en el futuro cuando se aplica un interés compuesto
                        (Besley y Brigham, 2001).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Flujo de efectivo</h5>
                    <p class="card-text">
                        El flujo de efectivo (entradas y salidas) de una empresa se describe por medio de su patrón
                        general. Se define como un monto único, una anualidad o un ingreso mixto (Gitman, 2012).
                        <br><br>
                        Es la concentración de toda la información cuantitativa obtenida en los estudios de mercado,
                        técnico organizacional, legal y ambiental. Tiene como propósito determinar todas las entradas y
                        salidas de efectivo pudiendo ser ingresos, costos, gastos e inversiones producidos por una
                        empresa o proyecto en el futuro (Vidal y González, 2014).
                        <br><br>
                        El paso más importante, pero también el más difícil, durante el análisis de un proyecto de
                        capital es la estimación de sus flujos de efectivo, es decir, los desembolsos por inversiones y
                        los flujos de efectivo netos que se esperan después de que un proyecto sea adoptado (Besley y
                        Brigham, 2001).
                    </p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Flujo neto de efectivo</h5>
                    <p class="card-text">Diferencia matemática entre los ingresos en efectivo de la empresa y sus
                        egresos en efectivo en cada periodo (Gitman y Zutter, 2012).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Interés compuesto</h5>
                    <p class="card-text">Interés ganado en un depósito específico y que se vuelve parte del principal al
                        final de un periodo determinado (Gitman, 2012); implica ganar interés sobre interés (Johnson y
                        Melicher, 2005).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Linea de flujo de efectivo o linea de tiempo</h5>
                    <p class="card-text">Una línea horizontal sobre la que aparece el tiempo cero en el extremo
                        izquierdo, y los periodos futuros se marcan de izquierda a derecha; se usa para representar
                        flujos de efectivo de inversiones (Gitman, 2012).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Perpetuidad</h5>
                    <p class="card-text">
                        Anualidad con una vida infinita que garantiza un flujo de efectivo anual continuo (Gitman,
                        2012).
                    </p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Principal o capital</h5>
                    <p class="card-text">Monto de dinero sobre el que se pagan intereses (Gitman, 2012).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Tasa de descuento o descuento de flujos de efectivo</h5>
                    <p class="card-text">Proceso para calcular los valores presentes; es lo contrario de la
                        capitalización de intereses (Gitman, 2012).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Valor futuro (VF)</h5>
                    <p class="card-text">Valor en una fecha futura específica de un monto colocado en depósito el día de
                        hoy y que gana un interés a una tasa determinada. Se calcula aplicando un interés compuesto
                        durante un periodo específico (Gitman, 2012).</p>
                </div>
            </div>
            <div class="card cardContainer">
                <div class="card-body">
                    <h5 class="card-title conceptCard">Valor presente (VP) </h5>
                    <p class="card-text">Valor actual en dólares de un monto futuro; es decir, la cantidad de dinero que
                        debería invertirse hoy a una tasa de interés determinada, durante un periodo específico, para
                        igualar el monto futuro (Gitman, 2012). </p>
                </div>
            </div>
        </section>
    </section>

    <br><br><br><br><br><br><br><br><br><br><br>

    <footer class="footerDesign">
        <div class="footerContainerOne">
            <p class="textoFooter">
                Recurso Didáctico Digital Unidad X: métodos de evaluación de proyectos de inversión de la UA Finanzas
                Empresariales por M. en A. Eduardo Rodríguez Flores, M. en C. Josefina Hernández Jaime & Dra. Yasmín
                Ivette
                Jiménez Galán se distribuye bajo una Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0
                Internacional.
            </p>
            <button type="button" class="mt-3 btn btn-primary">
                <i class="bi bi-github"></i> Acceso al repositorio del proyecto
            </button>
            <div class="iconCreativeContainer">
                <div class="iconCreative"></div>
            </div>
        </div>
        <div class="footerContainerTwo">
            <button type="button" class="mt-3 btn btn-secondary">
                <i class="bi bi-question-circle"></i> Manual
            </button>
            <button type="button" class="mt-3 btn btn-secondary">
                <i class="bi bi-tools"></i> Requerimientos
            </button>
            <button type="button" class="mt-3 btn btn-secondary">
                <i class="bi bi-person-lines-fill"></i> Contacto
            </button>
        </div>
    </footer>

</body>

</html>