<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Bienvenida</title>
  <link rel="shortcut icon" href="../static/img/ipn.ico" type="image/x-icon">

  <!--Fonts-->
  <link rel="stylesheet" href="../static/fonts/roboto.css">

  <!-- Compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/ownStyles.css">

  <!-- Compiled and minified JavaScript -->
  <script defer src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>

<body>

  <section class="navSuperior" data-bs-theme="dark">
    <div class="navSuperior-icons">
      <img src="../static/img/ipn.png">
      <img src="../static/img/escom.png">
    </div>
    <div class="navSuperior-texts">
      <h4 class="navSuperior-title text-dark">Recurso Didáctico Digital</h4>
      <h5 class="navSuperior-desc text-dark">Unidad 5: Métodos de evaluación de proyectos de inversión de la UA Finanzas
        Empresariales</h5>
    </div>
  </section>

  <nav id="navPersonal" class="navbar nav-fill navbar-expand-lg bg-body-tertiary" style="background: #5086c1;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <button type="button" class="btn btn-light">Inicio</button>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Contenidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Material de apoyo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Glosario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Referencias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="one-tab" data-bs-toggle="tab" data-bs-target="#one-tab-pane" type="button"
        role="tab" aria-controls="one-tab-pane" aria-selected="true">Bienvenida</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="two-tab" data-bs-toggle="tab" data-bs-target="#two-tab-pane" type="button"
        role="tab" aria-controls="two-tab-pane" aria-selected="false">Unidad de competencia</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three-tab-pane" type="button"
        role="tab" aria-controls="three-tab-pane" aria-selected="false">Metodologia</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="four-tab" data-bs-toggle="tab" data-bs-target="#four-tab-pane" type="button"
        role="tab" aria-controls="four-tab-pane" aria-selected="false">Evaluación de los aprendizajes</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="five-tab" data-bs-toggle="tab" data-bs-target="#five-tab-pane" type="button"
        role="tab" aria-controls="five-tab-pane" aria-selected="false">Contactos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="six-tab" data-bs-toggle="tab" data-bs-target="#six-tab-pane" type="button"
        role="tab" aria-controls="six-tab-pane" aria-selected="false">Requerimientos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="seven-tab" data-bs-toggle="tab" data-bs-target="#seven-tab-pane" type="button"
        role="tab" aria-controls="seven-tab-pane" aria-selected="false">Manual de usuario</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="one-tab-pane" role="tabpanel" aria-labelledby="one-tab" tabindex="0">

      <div class="marginPersonal">
        <div class="card">
          <h5 class="card-header">Bienvenida</h5>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima amet magnam asperiores ex est ad,
              harum quisquam eos vel quaerat reiciendis nesciunt, accusamus aut optio obcaecati rem illum doloribus.
              Iusto, provident! Necessitatibus nobis qui repellat sapiente quas, totam ut fugit laboriosam quos ullam
              ipsum quae impedit consectetur praesentium, illo beatae vel exercitationem aliquam blanditiis cum autem
              porro? Numquam, in!
              Sunt sed eaque quaerat, suscipit excepturi fuga recusandae quos atque, hic aliquid laboriosam. Pariatur
              asperiores vel veritatis dolor maiores ipsam debitis unde iste dolorem, nam aspernatur cum omnis quaerat
              illum.
              Placeat illo velit voluptatem iusto tempore ipsam commodi non blanditiis magnam fuga quae, ipsa obcaecati
              a fugit repudiandae rem maxime dicta delectus! Magnam totam sapiente repellat non nisi quos officia.
              Odit nam culpa doloribus soluta, perspiciatis ut cupiditate quaerat ipsam non tempore ex in dolorum ab
              temporibus adipisci eligendi a dignissimos at possimus ad. Explicabo aspernatur saepe beatae modi odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam magni ipsa at molestias,
              necessitatibus consequuntur laboriosam fuga quam voluptatum itaque nesciunt inventore dignissimos
              laudantium doloribus quas voluptates cumque illum.
              Velit dolorem ut quas libero quidem sint unde quos laborum! Nobis quibusdam laborum tenetur numquam
              cumque! Doloremque molestiae sequi quas ratione quae architecto, soluta, eaque distinctio quis laboriosam
              pariatur voluptatibus.
            </p>
          </div>
          <div class="imagenDefaultContainer">
            <img class="imagenDefault" src="../static/img/default.png">
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="two-tab-pane" role="tabpanel" aria-labelledby="two-tab" tabindex="0">

      <div class="marginPersonal">
        <div class="card">
          <h5 class="card-header">Unidad de competencias</h5>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima amet magnam asperiores ex est ad,
              harum quisquam eos vel quaerat reiciendis nesciunt, accusamus aut optio obcaecati rem illum doloribus.
              Iusto, provident! Necessitatibus nobis qui repellat sapiente quas, totam ut fugit laboriosam quos ullam
              ipsum quae impedit consectetur praesentium, illo beatae vel exercitationem aliquam blanditiis cum autem
              porro? Numquam, in!
              Sunt sed eaque quaerat, suscipit excepturi fuga recusandae quos atque, hic aliquid laboriosam. Pariatur
              asperiores vel veritatis dolor maiores ipsam debitis unde iste dolorem, nam aspernatur cum omnis quaerat
              illum.
              Placeat illo velit voluptatem iusto tempore ipsam commodi non blanditiis magnam fuga quae, ipsa obcaecati
              a fugit repudiandae rem maxime dicta delectus! Magnam totam sapiente repellat non nisi quos officia.
              Odit nam culpa doloribus soluta, perspiciatis ut cupiditate quaerat ipsam non tempore ex in dolorum ab
              temporibus adipisci eligendi a dignissimos at possimus ad. Explicabo aspernatur saepe beatae modi odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam magni ipsa at molestias,
              necessitatibus consequuntur laboriosam fuga quam voluptatum itaque nesciunt inventore dignissimos
              laudantium doloribus quas voluptates cumque illum.
              Velit dolorem ut quas libero quidem sint unde quos laborum! Nobis quibusdam laborum tenetur numquam
              cumque! Doloremque molestiae sequi quas ratione quae architecto, soluta, eaque distinctio quis laboriosam
              pariatur voluptatibus.
            </p>
          </div>
          <div class="imagenDefaultContainer">
            <img class="imagenDefault" src="../static/img/default.png">
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="three-tab-pane" role="tabpanel" aria-labelledby="three-tab" tabindex="0">
      
      <div class="marginPersonal">
        <div class="card">
          <h5 class="card-header">Metodologia</h5>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima amet magnam asperiores ex est ad,
              harum quisquam eos vel quaerat reiciendis nesciunt, accusamus aut optio obcaecati rem illum doloribus.
              Iusto, provident! Necessitatibus nobis qui repellat sapiente quas, totam ut fugit laboriosam quos ullam
              ipsum quae impedit consectetur praesentium, illo beatae vel exercitationem aliquam blanditiis cum autem
              porro? Numquam, in!
              Sunt sed eaque quaerat, suscipit excepturi fuga recusandae quos atque, hic aliquid laboriosam. Pariatur
              asperiores vel veritatis dolor maiores ipsam debitis unde iste dolorem, nam aspernatur cum omnis quaerat
              illum.
              Placeat illo velit voluptatem iusto tempore ipsam commodi non blanditiis magnam fuga quae, ipsa obcaecati
              a fugit repudiandae rem maxime dicta delectus! Magnam totam sapiente repellat non nisi quos officia.
              Odit nam culpa doloribus soluta, perspiciatis ut cupiditate quaerat ipsam non tempore ex in dolorum ab
              temporibus adipisci eligendi a dignissimos at possimus ad. Explicabo aspernatur saepe beatae modi odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam magni ipsa at molestias,
              necessitatibus consequuntur laboriosam fuga quam voluptatum itaque nesciunt inventore dignissimos
              laudantium doloribus quas voluptates cumque illum.
              Velit dolorem ut quas libero quidem sint unde quos laborum! Nobis quibusdam laborum tenetur numquam
              cumque! Doloremque molestiae sequi quas ratione quae architecto, soluta, eaque distinctio quis laboriosam
              pariatur voluptatibus.
            </p>
          </div>
          <div class="imagenDefaultContainer">
            <img class="imagenDefault" src="../static/img/default.png">
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="four-tab-pane" role="tabpanel" aria-labelledby="four-tab" tabindex="0">

      <div class="marginPersonal">
        <div class="card">
          <h5 class="card-header">Evaluación de los aprendizajes</h5>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima amet magnam asperiores ex est ad,
              harum quisquam eos vel quaerat reiciendis nesciunt, accusamus aut optio obcaecati rem illum doloribus.
              Iusto, provident! Necessitatibus nobis qui repellat sapiente quas, totam ut fugit laboriosam quos ullam
              ipsum quae impedit consectetur praesentium, illo beatae vel exercitationem aliquam blanditiis cum autem
              porro? Numquam, in!
              Sunt sed eaque quaerat, suscipit excepturi fuga recusandae quos atque, hic aliquid laboriosam. Pariatur
              asperiores vel veritatis dolor maiores ipsam debitis unde iste dolorem, nam aspernatur cum omnis quaerat
              illum.
              Placeat illo velit voluptatem iusto tempore ipsam commodi non blanditiis magnam fuga quae, ipsa obcaecati
              a fugit repudiandae rem maxime dicta delectus! Magnam totam sapiente repellat non nisi quos officia.
              Odit nam culpa doloribus soluta, perspiciatis ut cupiditate quaerat ipsam non tempore ex in dolorum ab
              temporibus adipisci eligendi a dignissimos at possimus ad. Explicabo aspernatur saepe beatae modi odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam magni ipsa at molestias,
              necessitatibus consequuntur laboriosam fuga quam voluptatum itaque nesciunt inventore dignissimos
              laudantium doloribus quas voluptates cumque illum.
              Velit dolorem ut quas libero quidem sint unde quos laborum! Nobis quibusdam laborum tenetur numquam
              cumque! Doloremque molestiae sequi quas ratione quae architecto, soluta, eaque distinctio quis laboriosam
              pariatur voluptatibus.
            </p>
          </div>
          <div class="imagenDefaultContainer">
            <img class="imagenDefault" src="../static/img/default.png">
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="five-tab-pane" role="tabpanel" aria-labelledby="five-tab" tabindex="0">
      <div class="marginPersonal">
        <div class="card">
          <h5 class="card-header">Contactos</h5>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima amet magnam asperiores ex est ad,
              harum quisquam eos vel quaerat reiciendis nesciunt, accusamus aut optio obcaecati rem illum doloribus.
              Iusto, provident! Necessitatibus nobis qui repellat sapiente quas, totam ut fugit laboriosam quos ullam
              ipsum quae impedit consectetur praesentium, illo beatae vel exercitationem aliquam blanditiis cum autem
              porro? Numquam, in!
              Sunt sed eaque quaerat, suscipit excepturi fuga recusandae quos atque, hic aliquid laboriosam. Pariatur
              asperiores vel veritatis dolor maiores ipsam debitis unde iste dolorem, nam aspernatur cum omnis quaerat
              illum.
              Placeat illo velit voluptatem iusto tempore ipsam commodi non blanditiis magnam fuga quae, ipsa obcaecati
              a fugit repudiandae rem maxime dicta delectus! Magnam totam sapiente repellat non nisi quos officia.
              Odit nam culpa doloribus soluta, perspiciatis ut cupiditate quaerat ipsam non tempore ex in dolorum ab
              temporibus adipisci eligendi a dignissimos at possimus ad. Explicabo aspernatur saepe beatae modi odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam magni ipsa at molestias,
              necessitatibus consequuntur laboriosam fuga quam voluptatum itaque nesciunt inventore dignissimos
              laudantium doloribus quas voluptates cumque illum.
              Velit dolorem ut quas libero quidem sint unde quos laborum! Nobis quibusdam laborum tenetur numquam
              cumque! Doloremque molestiae sequi quas ratione quae architecto, soluta, eaque distinctio quis laboriosam
              pariatur voluptatibus.
            </p>
          </div>
          <div class="imagenDefaultContainer">
            <img class="imagenDefault" src="../static/img/default.png">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="six-tab-pane" role="tabpanel" aria-labelledby="six-tab" tabindex="0">

      <div class="marginPersonal">
        <div class="card">
          <h5 class="card-header">Requerimientos</h5>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima amet magnam asperiores ex est ad,
              harum quisquam eos vel quaerat reiciendis nesciunt, accusamus aut optio obcaecati rem illum doloribus.
              Iusto, provident! Necessitatibus nobis qui repellat sapiente quas, totam ut fugit laboriosam quos ullam
              ipsum quae impedit consectetur praesentium, illo beatae vel exercitationem aliquam blanditiis cum autem
              porro? Numquam, in!
              Sunt sed eaque quaerat, suscipit excepturi fuga recusandae quos atque, hic aliquid laboriosam. Pariatur
              asperiores vel veritatis dolor maiores ipsam debitis unde iste dolorem, nam aspernatur cum omnis quaerat
              illum.
              Placeat illo velit voluptatem iusto tempore ipsam commodi non blanditiis magnam fuga quae, ipsa obcaecati
              a fugit repudiandae rem maxime dicta delectus! Magnam totam sapiente repellat non nisi quos officia.
              Odit nam culpa doloribus soluta, perspiciatis ut cupiditate quaerat ipsam non tempore ex in dolorum ab
              temporibus adipisci eligendi a dignissimos at possimus ad. Explicabo aspernatur saepe beatae modi odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam magni ipsa at molestias,
              necessitatibus consequuntur laboriosam fuga quam voluptatum itaque nesciunt inventore dignissimos
              laudantium doloribus quas voluptates cumque illum.
              Velit dolorem ut quas libero quidem sint unde quos laborum! Nobis quibusdam laborum tenetur numquam
              cumque! Doloremque molestiae sequi quas ratione quae architecto, soluta, eaque distinctio quis laboriosam
              pariatur voluptatibus.
            </p>
          </div>
          <div class="imagenDefaultContainer">
            <img class="imagenDefault" src="../static/img/default.png">
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="seven-tab-pane" role="tabpanel" aria-labelledby="seven-tab" tabindex="0">

      <div class="marginPersonal">
        <div class="card">
          <h5 class="card-header">Manual de usuario</h5>
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima amet magnam asperiores ex est ad,
              harum quisquam eos vel quaerat reiciendis nesciunt, accusamus aut optio obcaecati rem illum doloribus.
              Iusto, provident! Necessitatibus nobis qui repellat sapiente quas, totam ut fugit laboriosam quos ullam
              ipsum quae impedit consectetur praesentium, illo beatae vel exercitationem aliquam blanditiis cum autem
              porro? Numquam, in!
              Sunt sed eaque quaerat, suscipit excepturi fuga recusandae quos atque, hic aliquid laboriosam. Pariatur
              asperiores vel veritatis dolor maiores ipsam debitis unde iste dolorem, nam aspernatur cum omnis quaerat
              illum.
              Placeat illo velit voluptatem iusto tempore ipsam commodi non blanditiis magnam fuga quae, ipsa obcaecati
              a fugit repudiandae rem maxime dicta delectus! Magnam totam sapiente repellat non nisi quos officia.
              Odit nam culpa doloribus soluta, perspiciatis ut cupiditate quaerat ipsam non tempore ex in dolorum ab
              temporibus adipisci eligendi a dignissimos at possimus ad. Explicabo aspernatur saepe beatae modi odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto magnam magni ipsa at molestias,
              necessitatibus consequuntur laboriosam fuga quam voluptatum itaque nesciunt inventore dignissimos
              laudantium doloribus quas voluptates cumque illum.
              Velit dolorem ut quas libero quidem sint unde quos laborum! Nobis quibusdam laborum tenetur numquam
              cumque! Doloremque molestiae sequi quas ratione quae architecto, soluta, eaque distinctio quis laboriosam
              pariatur voluptatibus.
            </p>
          </div>
          <div class="imagenDefaultContainer">
            <img class="imagenDefault" src="../static/img/default.png">
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>